sup {
  color: #f60248;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;

  margin: 0;
  padding: 0;
  background-color: #f5f5f5;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 32px;
}

p {
  margin-top: 0px;
  text-align: justify;
}

a {
  color: #f60248;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #707070;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-style: regular;
  font-weight: normal;

  width: auto;
  white-space: nowrap;
  transform: translateX(-50%);

  top: 110%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#wrapper-centered {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

@media (max-width: 750px) {
  #wrapper-centered {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

#header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
}

#header a {
  text-decoration: none;
  color: black;

  grid-column-start: 1;
  grid-column-end: 2;

  vertical-align: middle;
}

#header p {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 4;

  margin-bottom: 0;
  margin-left: 50px;

  font-size: 32px;

  text-align: left;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

#header p .short-text {
  display: none;
}

@media (max-width: 750px) {
  #header p {
    font-size: 20px;
    margin-left: 10px;
    text-align: justify;
  }

  #header p .full-text {
    display: none;
  }

  #header p .short-text {
    display: inline;
  }
}

#info {
  text-align: justify;
  margin-top: 20px;
}

#cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  height: 400px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;

  background-color: white;

  position: relative;
}

.card.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.card.right {
  grid-column-start: 2;
  grid-column-end: 3;
}

.card-header {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-description {
  margin: 0px;
  text-align: justify;
}

.card-figure {
  height: 75%;
  width: auto;
  margin-top: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 20px;
  padding-bottom: 15px;
  font-size: 36px;
  text-align: left;
}

.click-icon {
  color: #000000;
  text-decoration: none;
  font-size: 36px;
}

.click-icon:hover {
  color: #f60248;
  text-decoration: none;
}

@media (max-width: 750px) {
  #cards-wrapper {
    grid-template-columns: 1fr;
  }

  .card.right {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#button-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  height: 36px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 30px;
  border-radius: 8px;

  color: black;
  background-color: white;

  text-decoration: none;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 36px;

  position: relative;
}

.button i {
  position: absolute;
  left: 10px;
}

.button:hover,
.button:hover .click-icon {
  color: #f60248;
}

.button.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.button.center {
  grid-column-start: 2;
  grid-column-end: 3;
}

.button.right {
  grid-column-start: 3;
  grid-column-end: 4;
}

@media (max-width: 750px) {
  #button-bar {
    grid-template-columns: 1fr;
  }

  .button.left,
  .button.center,
  .button.right {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 750px) {
  #gallery {
    grid-template-columns: 1fr;
  }
}

.gallery-column {
  text-align: center;
}

.gallery-column img {
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-column .caption {
  display: none;
}

.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.enlarged-image {
  width: 60%;
  height: auto;
  background-color: white;
}

.enlarged-caption {
  color: white;
  margin-top: 15px;
  width: 55%;
  text-align: center;
}

@media (max-width: 750px) {
  .enlarged-image {
    width: 90%;
  }

  .enlarged-caption {
    width: 85%;
  }
}

#footer {
  text-align: justify;
  margin-top: 40px;
  font-size: 16px;
  color: #777;
}

@media (max-width: 750px) {
  #footer {
    font-size: 11px;
  }
}

#footer img {
  width: 128px;
  margin-right: 10px;
}

#footer span {
  margin: 0;
}